@page "/Player"
@inject ILogger<Object> logger

@using LionsDemo.Data
@using LionsDemo.Models

@inject IDataService dataService

<div class="row">
    <div class="col-12">
        <h3>
            Select Player: @(selectedPlayer.PlayerId == 0 ? "" : $"{selectedPlayer.LastName}, {selectedPlayer.FirstName}")
        </h3>
        <div>
            <Dropdown>
                <DropdownToggle Color="Color.Primary">
                    Select a Player...
                </DropdownToggle>
                <DropdownMenu MaxMenuHeight="500px">
                    @foreach (var p in allPlayers)
                    {
                        <DropdownItem Clicked="() => { selectedPlayer = p; }">@($"{p.LastName}, {p.FirstName}")</DropdownItem>
                        <DropdownDivider />
                    }
                </DropdownMenu>
            </Dropdown>
        </div>
    </div>
    @*<div class="col-12">
         <strong>OBJECTIVE: Build a cool player page any way you see fit TESTTT</strong>
    </div>*@
</div>

<div class="row g-2">
    <div class="player-info col-sm-12 col-xxl-6" style="background-color: white; height: 250px;">
        <Card Margin="Margin.Is4.OnY">
            <img Class="player-photo center" src="https://i.imgur.com/LBQBqvP.png" alt="Player Headshot">
            <CardBody>
                <CardTitle Size="5" Class="text-center">Jared Goff</CardTitle>
                <CardText  Class="text-center">
                    QB #16
                </CardText>
            </CardBody>
        </Card>
    </div>
    <div class="col-sm-12 col-xxl-6" style="background-color: white; height: 250px;">
        <Card Margin="Margin.Is4.OnY">
            <CardBody>
                <CardTitle Size="5" Class="text-center">Player Information</CardTitle>
                <CardText>
                    Team:
                </CardText>
                <CardText>
                    Notes:
                </CardText>
                <CardText>
                    Injury History:
                </CardText>
            </CardBody>
        </Card>
    </div>
    <div class="table-responsive">
        <table class="table table-striped caption-top">
            <caption>2021 Stats</caption>
            <tr class="table-light">
                <th>Position</th>
                <th>Pass Yds</th>
                <th>Att</th>
                <th>Cmp</th>
                <th>Cmp %</th>
                <th>TD</th>
                <th>INT</th>
                <th>QBR</th>
            </tr>
            <tr>
                <td>QB</td>
                <td>3245</td>
                <td>494</td>
                <td>332</td>
                <td>67.2</td>
                <td>19</td>
                <td>8</td>
                <td>91.5</td>
            </tr>
        </table>
    </div>
</div>

@code {
    IEnumerable<Player> allPlayers = new List<Player>();
    Player selectedPlayer = new();

    protected override void OnInitialized()
    {
        allPlayers = dataService.GetPlayers();
        @*logger.LogInformation(allPlayers);*@
        base.OnInitialized();
    }

}
