.player-photo {
    height: 225px;
    width: 225px;
}

.player-info {
    margin: auto;
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-details {
    height: 200px;
}

.card-body {
    width: 100vh;
}

.get-data {
    text-align: center;
    margin: 10px;
    border: 1px solid lightgray;
}

button {
    margin: 5px;
    position: center;
}

ul {
    margin: auto;
    display: inline;
    width: 200px;
    text-align: center;
}

li {
    margin: auto;
    width: 200px;
}